.navbar {
  padding: 0;
  float: left;
  width: fit-content;
  display: inline-block;
}

#navigation-bar {
  color: white;
  background-color: rgb(0, 85, 162);
  display: flex;
  width: 100%;
  height: 100vh;
  border-right: 2px solid rgb(235, 235, 235);
}

#navigation-bar img {
  background-color: white;
  width: 100px;
  height: 70px;
}

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbarlogo {
  padding: 17px 15px 15px 15px;
}

li a {
  color: white;
  text-decoration: none;
}

.logoutbutton {
  position: relative;
  bottom: -13em;
}
.logoutbutton:hover {
  background-color: rgba(6, 45, 82, 0.3);
}
i {
  text-decoration: none;
  color: white;
}

.navbartext {
  color: white;
}
.left {
  float: left;
}

.profileImgWrapper {
  margin: 50px auto;
  width: 60%;
}
.profile-lower ul {
  padding: 20px;
  color: rgb(0, 85, 182);
  list-style-type: none;
}
.profile-lower ul li {
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-style: solid;
}
.profile-lower ul li a {
  color: rgb(0, 142, 226);
}

.profile-upper {
  padding: 20px;
  border-bottom: 1px solid #c7cdd1;
}

.LogoutButtonWrapper .btn:hover {
  border: 2px solid #0099ff;
  cursor: pointer;
}

.hide {
  position: fixed;
  left: -500px;
  transform: translate3d(0, 0, 0);
  transition: left 0.4s;
  transition-timing-function: linear;

  box-shadow: 3px 3px 3px whitesmoke;

  width: 500px;
  height: 1000px;
  border-right: 0.3px solid rgb(235, 235, 235);
}

.show {
  left: 100px;
}
.log {
  text-align: center;
  background-color: rgb(0, 85, 162);
  border-color: rgb(0, 85, 162);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

.navbarlogo {
  background-color: white;
}
